@{
    ViewBag.Title = "Contact ME";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Annie Moreno<br />
    Copeland Hall 012<br />
    <abbr title="Phone">P:</abbr>
    513.846.7299
</address>

<address>
    <strong>Support:</strong>   <a href="am925415@ohio.edu">Support@example.com</a><br />
 
</address>