@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Annie Moreno</h1>
    <p class="lead">Thanks for visiting my webpage!.</p>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>LinkedIn</h2>
        <p>
            Take a look at my Linked in profile
        <p><a class="btn btn-default" href="https://linkedin.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Handshake</h2>
        <p>Visit my Handshake profile.</p>
        <p><a class="btn btn-default" href="https://handshake.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cincinnati Reds</h2>
        <p>This is my favorite baseball team.</p>
        <p><a class="btn btn-default" href="https://mlb.com">Learn more &raquo;</a></p>
    </div>
</div>